<head>
  <style>
    .icon{
      position:relative;
      width:80px;
    }
    .icon span{
      position:absolute;
      width:40px;
      height:20px;
      color:white;
      background-color:black;
      border-radius:20px;
      top:0px;
      left:0px;
      text-align:center;
      opacity: 0.8;
    }
    .icon img{
      width:80px;
      height:80px;
      border: 1px solid black;
      margin: -1px;
      border-radius: 20px;
    }
    .title{
      width:40px;
    }
    .title p{
      height:40px;
      width: 70px;
      overflow:hidden;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow:ellipsis;
    }
    table, td, tr{
      border: 10px white solid;
    }
  </style>
</head>
<body>
  <h1 align="center">App ranking</h1>
  <table align="center">
    <tr>
      <% @app.list.each_with_index do |list,index| %>
      <td>
        <div class="icon">
          <span><font size="1">第<%= index + 1 %>位</font></span>
          <img src=<%= list["artworkUrl100"] %> >
        </div>
        <div class="title">
          <p><font size="1"><%= list["name"] %></font></p>
        </div>
      </td>
      <% if ( index + 1 ) % 10 == 0 then %>
        </tr>
      <% end %>
    <% end %>
  </table>
</body>
